.userDetailsContainer {
  margin: 30px;
}

.user {
  margin-bottom: 20px;
  width: inherit;
  font-size: 18px;

  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.userEdit form {
  margin-top: -20px;
}
