.favoriteListItem {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;

    width: 100%;
    border-bottom: 2px solid #999999;;
    padding-bottom: 5px;
    font-size: 16px;
    color: #000;
}

.itemImage {}

.itemInfo {
    flex: 1 1 auto;
}

.itemImage > img {
    width: 100px;
}

.btnDeleteItem {
    height: 30px;
}

@media screen and (max-width: 1200px) {
    .favoriteListItem {
        padding: 15px;
    }
}


