.userItem {
    margin-bottom: 20px;
    width: inherit;
    font-size: 18px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.userItem .btnUpdate {
    margin-top: 20px;
}

.userItem .btnUpdate:hover {
    cursor: pointer;
}

.userItemEdit form {
    margin-top: -20px;
}


