.bodyWrap {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

.wrap {
    width: 1200px;
}

.fixHeader {
    /*border: 2px solid #60889a;*/
    position: sticky;
    top: 0;
    z-index: 100;
}