.createProductForm {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.createProductForm * {
  font-size: 16px;
}

.labelTitle {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input {
  /*margin-right: 20px;*/
}

input[type="text"],
input[type="number"] {
  width: 300px;
}

.selectBox select:hover,
.textRadio:hover {
  cursor: pointer;
}

.selectBox select {
  width: 300px;
}

.textRadio {
  font-size: 20px;
  margin-right: 30px;
}

textarea {
  width: 500px;
  height: 100px;
}

.container {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
