.headerContainer {
    /*width: 100%;*/
    width: 1200px;
    border-radius: 6px;
    background: lightpink;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

/*    position: fixed;
    z-index: 100;*/
}

.headerContainer > a{
    text-align: center;
    color: #000000;
    display: block;
    font-size: 24px;
    box-sizing: border-box;
    padding: 1px 0;
    margin: 0;
}

.multiMenu a {
    text-align: center;
    color: #000000;
    display: block;
    font-size: 24px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.headerContainer > a,
.multiMenu {
    flex-grow: 1;
}

.fs18 {
    font-size: 18px;
    color: #000000;
}




